# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/

# IDE/Editor
.idea/
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Otros
dist/ # Si generas archivos para producción